{% extends 'base.html' %}
{% block content %}
	{% for obj in msg%}
		<div class="god">
			<div class="content">
				<div class="con1">
					<h1 style="text-align:left; font-size:24px;">{{ obj.title }} <a href="{{ obj.url }}" style="font-size:16px;"> Full Article</a></h1>
					<h2 style="text-align:left; font-size:18px;">{{obj.author}}, {{obj.publishedAt}}</h2>
					{% if obj.description %}
						<h3 style="text-align:left; font-size:22px; font-weight:normal;">{{obj.description}}</h3>
					{% endif %}
				</div>
				<div class="con2">
					{% if obj.urlToImage%}
						<img src={{ obj.urlToImage }} style="width:348px; height:auto"></img>
					{% endif %}
				</div>
			</div>
			<div class="sub-con">
				{% if obj.content %}
					<h3 style="text-align:left; font-size:22px; font-weight:normal;">{{obj.content}}</h3>

				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}